.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: #8bb6bd;
}

.oikos_logo {
  height: 150px;
  width: 150px;
  margin-top: 50px;
}

.link_nav{
  border: 1px solid black;
  background-color: White;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
}

.youtube-vid {
  margin-top: 20px;
}